<%- include("partials/sheader");-%>
<form action="/register" method="post">
  <div class="background-box">

  <div class="form-group extra-pad align-center white-color">

<h1 class="normal-font move-up-on-start align-center">Please register for the election</h1>
<p class="align-center white-color p-login" href="/login"> Confirm your information below. If there are mistakes, contact the administrators. </p>
<div class="row justify-content-center">
<div class="col-md-4">
<label class="top-margin normal-font">Name</label>
<input class="form-control normal-font" type="text" name="name" size="20" value="<%-name%>" readonly></input>
<label class="top-margin normal-font">Gr. No.</label>
<input class="form-control normal-font" type="number" name="grno" size="20" value="<%-grno%>" readonly></input>
<label class="top-margin normal-font">Email</label>
<input class="form-control normal-font" type="text" name="email" size="20" value="<%-email%>" readonly></input>
<label class="top-margin normal-font">House</label>
<input class="form-control normal-font" type="text" name="house" size="20" value="<%-house%>" readonly></input>
<label class="top-margin normal-font">Username</label>
<input class="form-control normal-font" type="text" name="username" size="20" value="<%-username%>" readonly></input>
<label class="top-margin normal-font">Set a Password and <b><u>please make a note of it!</b></u></label>
<input class="form-control normal-font" type="text" id="mypass" name="password" placeholder="Create a unforgettable password"></input>
<input type="checkbox" onclick="myFunction()"> Show Password
</div>
</div>
<div class="text-center">
<button class="btn2 normal-font register top-margin-s" type="submit"><p class="submit-padded">Register</p></button>
</div>
</div>
</form>

<div class="div-size"></div>

</div>
<script src="JS/registration.js" charset="utf-8"></script>
<%- include("partials/footer");-%>
