<!DOCTYPE html>
<html style="background-color:#1bc0b0; lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="icon" href="images/favicon3.ico">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


  <title>Vote Wisely!</title>
</head>
<body>

  <div class="background-box"></div>
  <img class="box-img" src="images/vote-png-1.png">
  <div class="ballot">
    <div class="row">
      <div class="col-sm-12 on-slider align-center">
      <% choices.forEach(function(element){ %>
        <h1 class="ballot-title align-center"><%=element[0]%></h1>
      <%});%>


        </div>
        <!-- <div class="col-sm-6 on-slider align-left">
        <h1>Boy</h1>
        </div> -->
    </div>
    <div class="row">
        <div class="col-sm-6 on-slider align-center">
          <% choices.forEach(function(element){ %>
            <h1 class="ballot-a"><%=element[1]%></h1>
          <%});%>

        </div>
        <div class="col-sm-6 on-slider align-center">
          <% choices.forEach(function(element){ %>
            <h1 class="ballot-b"><%=element[2]%></h1>
          <%});%>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 on-slider align-center">
          <% choices.forEach(function(element){ %>
            <h1 class="ballot-c"><%=element[3]%></h1>
          <%});%>
        </div>
        <div class="col-sm-6 on-slider align-center">
          <% choices.forEach(function(element){ %>
            <h1 class="ballot-d"><%=element[4]%></h1>
          <%});%>
        </div>
    </div>

  </div>
<form class="hidden" action="/vote" method="post">
<textarea class="textarea1 hidden" name="textarea1"></textarea>
<button class="btn1 hidden sub-btn" type="submit">Submit</button>
</form>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TimelineMax.min.js" integrity="sha512-lJDBw/vKlGO8aIZB8/6CY4lV+EMAL3qzViHid6wXjH/uDrqUl+uvfCROHXAEL0T/bgdAQHSuE68vRlcFHUdrUw==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js" integrity="sha512-8Wy4KH0O+AuzjMm1w5QfZ5j5/y8Q/kcUktK9mPUVaUoBvh3QPUZB822W/vy7ULqri3yR8daH3F58+Y8Z08qzeg==" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/JS/vote.js" charset="utf-8"></script>

</body>
</html>
